{
  "openapi": "3.0.0",
  "info": {
    "title": "Meal Planner",
    "description": "This is the Meal Planner API",
    "contact": {
      "email": "api@ml-planner.co.uk"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://ml-planner.co.uk:8090/api/v1",
      "description": "Meal Planner API"
    }
  ],
  "tags": [
    {
      "name": "admin",
      "description": "Operations available for administrators"
    },
    {
      "name": "auth",
      "description": "Operations available to authentication"
    },
    {
      "name": "user",
      "description": "Operations available to user"
    },
    {
      "name": "recipe",
      "description": "Operations available to recipe"
    },
    {
      "name": "recipe_category",
      "description": "Operations available to recipe category"
    },
    {
      "name": "recipe_ingredient",
      "description": "Operations available to recipe ingredient"
    },
    {
      "name": "recipe_process",
      "description": "Operations available to recipe process"
    },
    {
      "name": "category",
      "description": "Operations available to category"
    },
    {
      "name": "ingredient",
      "description": "Operations available to ingredient"
    },
    {
      "name": "unit",
      "description": "Operations available to unit"
    },
    {
      "name": "planner",
      "description": "Operations available to planner"
    }
  ],
  "paths": {
    "/auth": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "check authentication",
        "description": "By passing in the empty options and in not empty header,\nyou can ensure for authentication in the system\n",
        "operationId": "AuthCheck",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is passed"
          },
          "401": {
            "description": "Access token is missing or invalid"
          },
          "403": {
            "description": "Request is forbidden"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/auth/credentials": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "getting data's confirmation for credentials",
        "description": "By passing in the appropriate options, \nyou can get data for confirmation your identity in the system\n",
        "operationId": "AuthCredentials",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "requestBody": {
          "description": "Include username and password",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthCredentialsRequest"
              }
            }
          }
        },
        "responses": {
          "100": {
            "description": "Sent data to confirm for credentials"
          },
          "400": {
            "description": "Request is invalid"
          }
        }
      }
    },
    "/auth/confirmation": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "getting token",
        "description": "By passing in the appropriate options, \nyou can get a token in the system\n",
        "operationId": "AuthConfirmation",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "requestBody": {
          "description": "Include data for getting a token",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthConfirmationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return a token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          }
        }
      }
    },
    "/auth/refresh": {
      "get": {
        "tags": [
          "auth"
        ],
        "summary": "refreshing token",
        "description": "By passing in the appropriate options, \nyou can refresh the token in the system\n",
        "operationId": "AuthRefresh",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "responses": {
          "200": {
            "description": "Return a token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/auth/register": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "user registration",
        "description": "By passing in the appropriate options, \nyou can register the user in the system\n",
        "operationId": "AuthRegister",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "requestBody": {
          "description": "Include data for registering",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserRegisterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return a user info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          }
        }
      }
    },
    "/user": {
      "get": {
        "tags": [
          "user"
        ],
        "summary": "user info",
        "description": "By passing in the appropriate options, \nyou can get the user in the system\n",
        "operationId": "UserInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "responses": {
          "200": {
            "description": "Return a user info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "user"
        ],
        "summary": "user updating",
        "description": "By passing in the appropriate options, \nyou can update the user in the system\n",
        "operationId": "UserUpdate",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "requestBody": {
          "description": "Include data for user updating",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return a user info",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "user"
        ],
        "summary": "user deleting",
        "description": "By passing in the appropriate options, \nyou can delete the user in the system\n",
        "operationId": "UserDelete",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "requestBody": {
          "description": "Include data for user deleting",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserDeleteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/UserDeleteResponse"
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/recipes": {
      "get": {
        "tags": [
          "recipe"
        ],
        "summary": "info of recipes of the user",
        "description": "By passing in the appropriate options, \nyou can get the recipes of the user in the system\n",
        "operationId": "RecipesInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "responses": {
          "200": {
            "description": "Return the info of the recipes of the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipesInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "recipe"
        ],
        "summary": "creating of the recipe of the user",
        "description": "By passing in the appropriate options, \nyou can add a recipe of the user in the system\n",
        "operationId": "RecipeCreate",
        "parameters": [
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "requestBody": {
          "description": "Include data for creating of the recipe of the user",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecipeUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return the info of the recipe of the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipeInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/recipes/{recipe_id}": {
      "get": {
        "tags": [
          "recipe"
        ],
        "summary": "info of the recipe of the user",
        "description": "By passing in the appropriate options, \nyou can get the recipe of the user in the system\n",
        "operationId": "RecipeInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "responses": {
          "200": {
            "description": "Return the info of the recipe of the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipeInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          },
          "403": {
            "description": "Request is forbidden"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "recipe"
        ],
        "summary": "updating of the recipe of the user",
        "description": "By passing in the appropriate options, \nyou can update the recipe of the user in the system\n",
        "operationId": "RecipeUpdate",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "requestBody": {
          "description": "Include data for the updating of the recipe of the user",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecipeUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return the info of the recipe of the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipeInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          },
          "403": {
            "description": "Request is forbidden"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "recipe"
        ],
        "summary": "deleting of the recipe of the user",
        "description": "By passing in the appropriate options, \nyou can delete the recipe of the user in the system\n",
        "operationId": "RecipeDelete",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "responses": {
          "200": {
            "description": "Return the deleting info of the recipe of the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/recipes/{recipe_id}/categories": {
      "get": {
        "tags": [
          "recipe_category"
        ],
        "summary": "info of recipe's categories of the user",
        "description": "By passing in the appropriate options, \nyou can get the recipe's categories of the user in the system\n",
        "operationId": "RecipeCategoriesInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "responses": {
          "200": {
            "description": "Return the info of the recipe's categories of the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipeCategoriesInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "recipe_category"
        ],
        "summary": "creating of the recipe's category of the user",
        "description": "By passing in the appropriate options, \nyou can add a recipe's category of the user in the system\n",
        "operationId": "RecipeCategoryCreate",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "requestBody": {
          "description": "Include data for creating of the recipe's category of the user",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecipeCategoryUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return the info of the recipe's category of the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipeCategoryInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/recipes/{recipe_id}/categories/{category_id}": {
      "get": {
        "tags": [
          "recipe_category"
        ],
        "summary": "info of the recipe's category of the user",
        "description": "By passing in the appropriate options, \nyou can get the recipe's category of the user in the system\n",
        "operationId": "RecipeCategoryInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "$ref": "#/components/parameters/CategoryId"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "responses": {
          "200": {
            "description": "Return the info og the recipe's category of the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipeCategoryInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          },
          "403": {
            "description": "Request is forbidden"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "recipe_category"
        ],
        "summary": "updating of the recipe's category of the user",
        "description": "By passing in the appropriate options, \nyou can update the recipe's category of the user in the system\n",
        "operationId": "RecipeCategoryUpdate",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "$ref": "#/components/parameters/CategoryId"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "requestBody": {
          "description": "Include data for the updating of the recipe's category of the user",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecipeCategoryUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return the info of the recipe's category of the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipeCategoryInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          },
          "403": {
            "description": "Request is forbidden"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "recipe_category"
        ],
        "summary": "deleting of the recipe's category of the user",
        "description": "By passing in the appropriate options, \nyou can delete the recipe's category of the user in the system\n",
        "operationId": "RecipeCategoryDelete",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "$ref": "#/components/parameters/CategoryId"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "responses": {
          "200": {
            "description": "Return the deleting info of the recipe's category of the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/recipes/{recipe_id}/ingredients": {
      "get": {
        "tags": [
          "recipe_ingredient"
        ],
        "summary": "info of the recipe's ingredients of the user",
        "description": "By passing in the appropriate options, \nyou can get the recipe's ingredients of the user in the system\n",
        "operationId": "RecipeIngredientsInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "responses": {
          "200": {
            "description": "Return the info of the recipe's ingredients of the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipeIngredientsInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "recipe_ingredient"
        ],
        "summary": "creating of the recipe's ingredient of the user",
        "description": "By passing in the appropriate options, \nyou can add a recipe's ingredient of the user in the system\n",
        "operationId": "RecipeIngredientCreate",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "requestBody": {
          "description": "Include data for creating of the recipe's ingredient of the user",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecipeIngredientUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return the info of the recipe's ingredient of the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipeIngredientInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/recipes/{recipe_id}/ingredients/{ingredient_id}": {
      "get": {
        "tags": [
          "recipe_ingredient"
        ],
        "summary": "info of the recipe's ingredient of the user",
        "description": "By passing in the appropriate options, \nyou can get the recipe's ingredient of the user in the system\n",
        "operationId": "RecipeIngredientInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "$ref": "#/components/parameters/IngredientId"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "responses": {
          "200": {
            "description": "Return the info of the recipe's ingredient of the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipeIngredientInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          },
          "403": {
            "description": "Request is forbidden"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "recipe_ingredient"
        ],
        "summary": "updating of the recipe's ingredient of the user",
        "description": "By passing in the appropriate options, \nyou can update the recipe's ingredient of the user in the system\n",
        "operationId": "RecipeIngredientUpdate",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "$ref": "#/components/parameters/IngredientId"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "requestBody": {
          "description": "Include data for the updating of the recipe's ingredient of the user",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecipeIngredientUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return the info of the recipe's ingredient of the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipeIngredientInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          },
          "403": {
            "description": "Request is forbidden"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "recipe_ingredient"
        ],
        "summary": "deleting of the recipe's ingredient of the user",
        "description": "By passing in the appropriate options, \nyou can delete the recipe's ingredient of the user in the system\n",
        "operationId": "RecipeIngredientDelete",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "$ref": "#/components/parameters/IngredientId"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "responses": {
          "200": {
            "description": "Return the deleting info of the recipe's ingredient of the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/recipes/{recipe_id}/ingredients/{ingredient_id}/alt-names": {
      "get": {
        "tags": [
          "recipe_ingredient"
        ],
        "summary": "info of the alt-names of the user",
        "description": "By passing in the appropriate options, \nyou can get the alt-names of the user in the system\n",
        "operationId": "RecipeIngredientAltNamesInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "$ref": "#/components/parameters/IngredientId"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "responses": {
          "200": {
            "description": "Return the info of the alt-names of the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AltNamesInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "recipe_ingredient"
        ],
        "summary": "creating of the alt-name of the user",
        "description": "By passing in the appropriate options, \nyou can add a recipe's alt-name of the user in the system\n",
        "operationId": "RecipeIngredientAltNameCreate",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "$ref": "#/components/parameters/IngredientId"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "requestBody": {
          "description": "Include data for creating of the alt-name of the user",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AltNameUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return the info of the alt-name of the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AltNameInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/recipes/{recipe_id}/ingredients/{ingredient_id}/alt-names/{alt_name_id}": {
      "get": {
        "tags": [
          "recipe_ingredient"
        ],
        "summary": "info of the alt-name of the user",
        "description": "By passing in the appropriate options, \nyou can get the recipe's alt-name of the user in the system\n",
        "operationId": "RecipeIngredientAltNameInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "$ref": "#/components/parameters/IngredientId"
          },
          {
            "$ref": "#/components/parameters/AltNameId"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "responses": {
          "200": {
            "description": "Return the info of the alt-name of the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AltNameInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          },
          "403": {
            "description": "Request is forbidden"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "recipe_ingredient"
        ],
        "summary": "updating of the alt-name of the user",
        "description": "By passing in the appropriate options, \nyou can update the recipe's alt-name of the user in the system\n",
        "operationId": "RecipeIngredientAltNameUpdate",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "$ref": "#/components/parameters/IngredientId"
          },
          {
            "$ref": "#/components/parameters/AltNameId"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "requestBody": {
          "description": "Include data for the updating of the alt-name of the user",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AltNameUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return the info of the alt-name of the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AltNameInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          },
          "403": {
            "description": "Request is forbidden"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "recipe_ingredient"
        ],
        "summary": "deleting of the alt-name of the user",
        "description": "By passing in the appropriate options, \nyou can delete the recipe's alt-name of the user in the system\n",
        "operationId": "RecipeIngredientAltNameDelete",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "$ref": "#/components/parameters/IngredientId"
          },
          {
            "$ref": "#/components/parameters/AltNameId"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "responses": {
          "200": {
            "description": "Return the deleting info of the alt-name of the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/recipes/{recipe_id}/ingredients/{ingredient_id}/pictures": {
      "get": {
        "tags": [
          "recipe_ingredient"
        ],
        "summary": "info of the recipe's ingredient pictures of the user",
        "description": "By passing in the appropriate options, \nyou can get the recipe's ingredient pictures of the user in the system\n",
        "operationId": "RecipeIngredientPicturesInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "$ref": "#/components/parameters/IngredientId"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "responses": {
          "200": {
            "description": "Return the info of the recipe's ingredient pictures of the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PicturesInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "recipe_ingredient"
        ],
        "summary": "creating of the recipe's ingredient picture of the user",
        "description": "By passing in the appropriate options, \nyou can add a recipe's ingredient picture of the user in the system\n",
        "operationId": "RecipeIngredientPictureCreate",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "$ref": "#/components/parameters/IngredientId"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "requestBody": {
          "description": "Include data for creating of the recipe's ingredient picture of the user",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PictureUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return the info of the recipe's picture of the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PictureInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/recipes/{recipe_id}/ingredients/{ingredient_id}/pictures/{picture_id}": {
      "get": {
        "tags": [
          "recipe_ingredient"
        ],
        "summary": "info of the recipe's ingredient picture of the user",
        "description": "By passing in the appropriate options, \nyou can get the recipe's ingredient picture of the user in the system\n",
        "operationId": "RecipeIngredientPictureInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "$ref": "#/components/parameters/IngredientId"
          },
          {
            "$ref": "#/components/parameters/PictureId"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "responses": {
          "200": {
            "description": "Return the info of the recipe's picture of the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PictureInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          },
          "403": {
            "description": "Request is forbidden"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "recipe_ingredient"
        ],
        "summary": "updating of the recipe's ingredient picture of the user",
        "description": "By passing in the appropriate options, \nyou can update the recipe's ingredient picture of the user in the system\n",
        "operationId": "RecipeIngredientPictureUpdate",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "$ref": "#/components/parameters/IngredientId"
          },
          {
            "$ref": "#/components/parameters/PictureId"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "requestBody": {
          "description": "Include data for the updating of the recipe's ingredient picture of the user",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PictureUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return the info of the recipe's picture of the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PictureInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          },
          "403": {
            "description": "Request is forbidden"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "recipe_ingredient"
        ],
        "summary": "deleting of the recipe's ingredient picture of the user",
        "description": "By passing in the appropriate options, \nyou can delete the recipe's ingredient picture of the user in the system\n",
        "operationId": "RecipeIngredientPictureDelete",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "$ref": "#/components/parameters/IngredientId"
          },
          {
            "$ref": "#/components/parameters/PictureId"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "responses": {
          "200": {
            "description": "Return the deleting info of the recipe's ingredient picture of the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/recipes/{recipe_id}/ingredients/{ingredient_id}/pictures/{picture_id}/alt-names": {
      "get": {
        "tags": [
          "recipe_ingredient"
        ],
        "summary": "info of the alt-names of the user",
        "description": "By passing in the appropriate options, \nyou can get the alt-names of the user in the system\n",
        "operationId": "RecipeIngredientPictureAltNamesInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "$ref": "#/components/parameters/IngredientId"
          },
          {
            "$ref": "#/components/parameters/PictureId"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "responses": {
          "200": {
            "description": "Return the info of the alt-names of the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AltNamesInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "recipe_ingredient"
        ],
        "summary": "creating of the alt-name of the user",
        "description": "By passing in the appropriate options, \nyou can add a recipe's alt-name of the user in the system\n",
        "operationId": "RecipeIngredientPictureAltNameCreate",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "$ref": "#/components/parameters/IngredientId"
          },
          {
            "$ref": "#/components/parameters/PictureId"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "requestBody": {
          "description": "Include data for creating of the alt-name of the user",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AltNameUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return the info of the alt-name of the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AltNameInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/recipes/{recipe_id}/ingredients/{ingredient_id}/pictures/{picture_id}/alt-names/{alt_name_id}": {
      "get": {
        "tags": [
          "recipe_ingredient"
        ],
        "summary": "info of the alt-name of the user",
        "description": "By passing in the appropriate options, \nyou can get the recipe's alt-name of the user in the system\n",
        "operationId": "RecipeIngredientPictureAltNameInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "$ref": "#/components/parameters/IngredientId"
          },
          {
            "$ref": "#/components/parameters/PictureId"
          },
          {
            "$ref": "#/components/parameters/AltNameId"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "responses": {
          "200": {
            "description": "Return the info of the alt-name of the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AltNameInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          },
          "403": {
            "description": "Request is forbidden"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "recipe_ingredient"
        ],
        "summary": "updating of the alt-name of the user",
        "description": "By passing in the appropriate options, \nyou can update the recipe's alt-name of the user in the system\n",
        "operationId": "RecipeIngredientPictureAltNameUpdate",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "$ref": "#/components/parameters/IngredientId"
          },
          {
            "$ref": "#/components/parameters/PictureId"
          },
          {
            "$ref": "#/components/parameters/AltNameId"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "requestBody": {
          "description": "Include data for the updating of the alt-name of the user",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AltNameUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return the info of the alt-name of the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AltNameInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          },
          "403": {
            "description": "Request is forbidden"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "recipe_ingredient"
        ],
        "summary": "deleting of the alt-name of the user",
        "description": "By passing in the appropriate options, \nyou can delete the recipe's alt-name of the user in the system\n",
        "operationId": "RecipeIngredientPictureAltNameDelete",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "$ref": "#/components/parameters/IngredientId"
          },
          {
            "$ref": "#/components/parameters/PictureId"
          },
          {
            "$ref": "#/components/parameters/AltNameId"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "responses": {
          "200": {
            "description": "Return the deleting info of the alt-name of the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/recipes/{recipe_id}/ingredients/{ingredient_id}/measures": {
      "get": {
        "tags": [
          "recipe_ingredient"
        ],
        "summary": "info of the recipe's measures of the user",
        "description": "By passing in the appropriate options, \nyou can get the recipe's measures of the user in the system\n",
        "operationId": "RecipeMeasuresInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "$ref": "#/components/parameters/IngredientId"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "responses": {
          "200": {
            "description": "Return the info of the recipe's measures of the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipeMeasuresInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "recipe_ingredient"
        ],
        "summary": "creating of the recipe's measure of the user",
        "description": "By passing in the appropriate options, \nyou can add a recipe's measure of the user in the system\n",
        "operationId": "RecipeMeasureCreate",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "$ref": "#/components/parameters/IngredientId"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "requestBody": {
          "description": "Include data for creating of the recipe's measure of the user",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecipeMeasureUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return the info of the recipe's measure of the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipeMeasureInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/recipes/{recipe_id}/ingredients/{ingredient_id}/measures/{measure_id}": {
      "get": {
        "tags": [
          "recipe_ingredient"
        ],
        "summary": "info of the recipe's measure of the user",
        "description": "By passing in the appropriate options, \nyou can get the recipe's measure of the user in the system\n",
        "operationId": "RecipeMeasureInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "$ref": "#/components/parameters/IngredientId"
          },
          {
            "$ref": "#/components/parameters/MeasureId"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "responses": {
          "200": {
            "description": "Return the info of the recipe's measure of the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipeMeasureInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          },
          "403": {
            "description": "Request is forbidden"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "recipe_ingredient"
        ],
        "summary": "updating of the recipe's measure of the user",
        "description": "By passing in the appropriate options, \nyou can update the recipe's measure of the user in the system\n",
        "operationId": "RecipeMeasureUpdate",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "$ref": "#/components/parameters/IngredientId"
          },
          {
            "$ref": "#/components/parameters/MeasureId"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "requestBody": {
          "description": "Include data for the updating of the recipe's measure of the user",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecipeMeasureUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return the info of the recipe's measure of the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipeMeasureInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          },
          "403": {
            "description": "Request is forbidden"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "recipe_ingredient"
        ],
        "summary": "deleting of the recipe's measure of the user",
        "description": "By passing in the appropriate options, \nyou can delete the recipe's measure of the user in the system\n",
        "operationId": "RecipeMeasureDelete",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "$ref": "#/components/parameters/IngredientId"
          },
          {
            "$ref": "#/components/parameters/MeasureId"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "responses": {
          "200": {
            "description": "Return the deleting info of the recipe's measure of the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/recipes/{recipe_id}/processes": {
      "get": {
        "tags": [
          "recipe_process"
        ],
        "summary": "info of the recipe's processes of the user",
        "description": "By passing in the appropriate options, \nyou can get the recipe's processes of the user in the system\n",
        "operationId": "RecipeProcessesInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "responses": {
          "200": {
            "description": "Return the info of the recipe's processes of the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipeProcessesInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "recipe_process"
        ],
        "summary": "creating of the recipe's process of the user",
        "description": "By passing in the appropriate options, \nyou can add a recipe's process of the user in the system\n",
        "operationId": "RecipeProcessCreate",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "requestBody": {
          "description": "Include data for creating of the recipe's process of the user",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecipeProcessUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return the info of the recipe's process of the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipeProcessInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/recipes/{recipe_id}/processes/{process_id}": {
      "get": {
        "tags": [
          "recipe_process"
        ],
        "summary": "info of the recipe's process of the user",
        "description": "By passing in the appropriate options, \nyou can get the recipe's process of the user in the system\n",
        "operationId": "RecipeProcessInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "$ref": "#/components/parameters/ProcessId"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "responses": {
          "200": {
            "description": "Return the info of the recipe's process of the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipeProcessInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          },
          "403": {
            "description": "Request is forbidden"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "recipe_process"
        ],
        "summary": "updating of the recipe's process of the user",
        "description": "By passing in the appropriate options, \nyou can update the recipe's process of the user in the system\n",
        "operationId": "RecipeProcessUpdate",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "$ref": "#/components/parameters/ProcessId"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "requestBody": {
          "description": "Include data for the updating of the recipe's process of the user",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecipeProcessUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return the info of the recipe's process of the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecipeProcessInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          },
          "403": {
            "description": "Request is forbidden"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "recipe_process"
        ],
        "summary": "deleting of the recipe's process of the user",
        "description": "By passing in the appropriate options, \nyou can delete the recipe's process of the user in the system\n",
        "operationId": "RecipeProcessDelete",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "$ref": "#/components/parameters/ProcessId"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "responses": {
          "200": {
            "description": "Return the deleting info of the recipe's process of the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/recipes/{recipe_id}/processes/{process_id}/alt-names": {
      "get": {
        "tags": [
          "recipe_process"
        ],
        "summary": "info of the alt-names of the user",
        "description": "By passing in the appropriate options, \nyou can get the alt-names of the user in the system\n",
        "operationId": "RecipeProcessAltNamesInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "$ref": "#/components/parameters/ProcessId"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "responses": {
          "200": {
            "description": "Return the info of the alt-names of the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AltNamesInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "recipe_process"
        ],
        "summary": "creating of the alt-name of the user",
        "description": "By passing in the appropriate options, \nyou can add a recipe's alt-name of the user in the system\n",
        "operationId": "RecipeProcessAltNameCreate",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "$ref": "#/components/parameters/ProcessId"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "requestBody": {
          "description": "Include data for creating of the alt-name of the user",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AltNameUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return the info of the alt-name of the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AltNameInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/recipes/{recipe_id}/processes/{process_id}/alt-names/{alt_name_id}": {
      "get": {
        "tags": [
          "recipe_process"
        ],
        "summary": "info of the alt-name of the user",
        "description": "By passing in the appropriate options, \nyou can get the recipe's alt-name of the user in the system\n",
        "operationId": "RecipeProcessAltNameInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "$ref": "#/components/parameters/ProcessId"
          },
          {
            "$ref": "#/components/parameters/AltNameId"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "responses": {
          "200": {
            "description": "Return the info of the alt-name of the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AltNameInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          },
          "403": {
            "description": "Request is forbidden"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "recipe_process"
        ],
        "summary": "updating of the alt-name of the user",
        "description": "By passing in the appropriate options, \nyou can update the recipe's alt-name of the user in the system\n",
        "operationId": "RecipeProcessAltNameUpdate",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "$ref": "#/components/parameters/ProcessId"
          },
          {
            "$ref": "#/components/parameters/AltNameId"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "requestBody": {
          "description": "Include data for the updating of the alt-name of the user",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AltNameUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return the info of the alt-name of the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AltNameInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          },
          "403": {
            "description": "Request is forbidden"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "recipe_process"
        ],
        "summary": "deleting of the alt-name of the user",
        "description": "By passing in the appropriate options, \nyou can delete the recipe's alt-name of the user in the system\n",
        "operationId": "RecipeProcessAltNameDelete",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "$ref": "#/components/parameters/ProcessId"
          },
          {
            "$ref": "#/components/parameters/AltNameId"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "responses": {
          "200": {
            "description": "Return the deleting info of the alt-name of the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/recipes/{recipe_id}/processes/{process_id}/pictures": {
      "get": {
        "tags": [
          "recipe_process"
        ],
        "summary": "info of recipe's process pictures of the user",
        "description": "By passing in the appropriate options, \nyou can get the recipe's process pictures of the user in the system\n",
        "operationId": "RecipeProcessPicturesInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "$ref": "#/components/parameters/ProcessId"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "responses": {
          "200": {
            "description": "Return the info of the recipe's process pictures of the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PicturesInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "recipe_process"
        ],
        "summary": "creating recipe's process picture of the user",
        "description": "By passing in the appropriate options, \nyou can add a recipe's process picture of the user in the system\n",
        "operationId": "RecipeProcessPictureCreate",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "$ref": "#/components/parameters/ProcessId"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "requestBody": {
          "description": "Include data for creating of the recipe's process picture of the user",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PictureUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return the info of the recipe's process picture of the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PictureInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/recipes/{recipe_id}/processes/{process_id}/pictures/{picture_id}": {
      "get": {
        "tags": [
          "recipe_process"
        ],
        "summary": "info of the recipe's process picture of the user",
        "description": "By passing in the appropriate options, \nyou can get the recipe's process picture of the user in the system\n",
        "operationId": "RecipeProcessPictureInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "$ref": "#/components/parameters/ProcessId"
          },
          {
            "$ref": "#/components/parameters/PictureId"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "responses": {
          "200": {
            "description": "Return the info of the recipe's process picture of the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PictureInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          },
          "403": {
            "description": "Request is forbidden"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "recipe_process"
        ],
        "summary": "updating of the recipe's process picture of the user",
        "description": "By passing in the appropriate options, \nyou can update the recipe's process picture of the user in the system\n",
        "operationId": "RecipeProcessPictureUpdate",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "$ref": "#/components/parameters/ProcessId"
          },
          {
            "$ref": "#/components/parameters/PictureId"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "requestBody": {
          "description": "Include data for updating of the recipe's process picture of the user",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PictureUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return the info of the recipe's process picture of the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PictureInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          },
          "403": {
            "description": "Request is forbidden"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "recipe_process"
        ],
        "summary": "deleting of the recipe's process picture of the user",
        "description": "By passing in the appropriate options, \nyou can delete the recipe's process picture of the user in the system\n",
        "operationId": "RecipeProcessPictureDelete",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "$ref": "#/components/parameters/ProcessId"
          },
          {
            "$ref": "#/components/parameters/PictureId"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "responses": {
          "200": {
            "description": "Return the deleting info of the recipe's process picture of the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/recipes/{recipe_id}/processes/{process_id}/pictures/{picture_id}/alt-names": {
      "get": {
        "tags": [
          "recipe_process"
        ],
        "summary": "info of the alt-names of the user",
        "description": "By passing in the appropriate options, \nyou can get the alt-names of the user in the system\n",
        "operationId": "RecipeProcessPictureAltNamesInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "$ref": "#/components/parameters/ProcessId"
          },
          {
            "$ref": "#/components/parameters/PictureId"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "responses": {
          "200": {
            "description": "Return the info of the alt-names of the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AltNamesInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "recipe_process"
        ],
        "summary": "creating of the alt-name of the user",
        "description": "By passing in the appropriate options, \nyou can add a recipe's alt-name of the user in the system\n",
        "operationId": "RecipeProcessPictureAltNameCreate",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "$ref": "#/components/parameters/ProcessId"
          },
          {
            "$ref": "#/components/parameters/PictureId"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "requestBody": {
          "description": "Include data for creating of the alt-name of the user",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AltNameUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return the info of the alt-name of the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AltNameInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/recipes/{recipe_id}/processes/{process_id}/pictures/{picture_id}/alt-names/{alt_name_id}": {
      "get": {
        "tags": [
          "recipe_process"
        ],
        "summary": "info of the alt-name of the user",
        "description": "By passing in the appropriate options, \nyou can get the recipe's alt-name of the user in the system\n",
        "operationId": "RecipeProcessPictureAltNameInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "$ref": "#/components/parameters/ProcessId"
          },
          {
            "$ref": "#/components/parameters/PictureId"
          },
          {
            "$ref": "#/components/parameters/AltNameId"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "responses": {
          "200": {
            "description": "Return the info of the alt-name of the user",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AltNameInfoResponse"
                }
              }
            }
          },
          "400": {
            "description": "Request is invalid"
          },
          "401": {
            "description": "Access token is missing or invalid"
          },
          "403": {
            "description": "Request is forbidden"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "recipe_process"
        ],
        "summary": "updating of the alt-name of the user",
        "description": "By passing in the appropriate options, \nyou can update the recipe's alt-name of the user in the system\n",
        "operationId": "RecipeProcessPictureAltNameUpdate",
        "parameters": [
          {
            "$ref": "#/components/parameters/RecipeId"
          },
          {
            "$ref": "#/components/parameters/ProcessId"
          },
          {
            "$ref": "#/components/parameters/PictureId"
          },
          {
            "$ref": "#/components/parameters/AltNameId"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowOrigin"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowCredentials"
          },
          {
            "$ref": "#/components/parameters/AccessControlAllowMethods"
          }
        ],
        "requestBody": {
          "description": "Include data for the updating of the alt-name of the user",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AltNameUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return the info of the alt-name of the user",
            "content": {
              "application/json": {
                "schema": {
[...]
